@import "./assets/styles/Colors.scss";
@import "./assets/styles/Header.scss";
// @import "./assets/styles/main.scss";
// @import "./assets/styles/loading.scss";
// @import "./assets/styles/notificationBar.scss";
// @import "./assets//styles/pagination.scss";
html,
body {
  font-family: "WOFF IRANSansXFaNum-Regular", sans-serif;
  direction: rtl;
  background-color: $hamta_white;
  //background: $hamta_white; //linear-gradient(90deg, $dark 0%, $white 100%);
}
