$hamta_primary: #0093e3;
$hamta_secondary: #d3d3d3;
$hamta_silver: #a1a1a1;
$hamta_orange: #da8627;
$hamta_lightorange: #fce7d0;
$hamta_blue: #448ccb;
$hamta_darkblue: #004a80;
$hamta_dark: #333;
$hamta_black: #000;
$hamta_light: #fffffc;
$hamta_white: #fff;
