.nav {
  background-color: $hamta_white;
  display: flex;
  margin: 0rem 1rem 0 1rem;
  border-radius: 0.5rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  white-space: nowrap;
}

.logo {
  width: 10rem;
  //margin: 0.5rem;
  //position: absolute;
  // right: 0;
  //margin: 0.1rem;
}
.mylogo {
  //transition: 0.4s cubic-bezier(1, -1, 0, 2);
  //clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  width: 100%;
  height: inherit;
}

.appContainer {
  //border: 1px solid lightgray;
  //background-color: white;
  //margin: 1rem;
  //border-radius: 1rem;
  overflow: hidden;
  min-height: 40vw;
}
.p1 {
  background-color: $hamta_white;
}
.p2 {
  background-color: $hamta_silver;
}
.btnContainer {
  position: absolute;
  left: 0;
}
.hbtn {
  background-color: $hamta_orange;
  color: $hamta_white;
  width: 6.5rem;
  margin: 1rem 1rem;
  font-size: 0.8rem;
}
.BlueBoxContainer {
  //flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background-color: yellow;
}
.BlueBox {
  width: 140px !important;
  height: 140px !important;
  background-color: $hamta_blue;
  border-radius: 0.8rem;
  margin: 1rem 5vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.BlueBoxImg {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  //color: $hamta_white;
}
.footer {
  //padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $hamta_darkblue;
  border-radius: 2rem 2rem 0 0;
  height: fit-content;
  //text-align: right;
  font-size: 0.8rem;
}
.footerContent {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: right;
  font-size: larger;
}
.pAd {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $hamta_blue;
  color: $hamta_white;
  height: 20vw;
  text-align: right;
}
.pAd p {
  font-size: xx-large;
}
.imgContainer {
  //padding: 10px;
  justify-content: center;
  //flex: 1;
  //display: flex;
  //flex-direction: column;
  //height: 480px;
  //border-bottom: 1px solid gray;
  //border: 1px solid lightgray;
  //background-color: $hamta_orange;
  //margin-bottom: 0.5rem;
  //border-radius: 1rem;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
}
.whatsapp {
  color: $hamta_white;
  font-size: xx-large;
  //background-color: $hamta_white;
  //border-radius: 20%;
  padding: 5px;
}
.whatsapp:hover {
  color: green;
  transition: 0.3s;
}
.phone {
  color: $hamta_white;
  font-size: xx-large;
  //background-color: $hamta_white;
  //border-radius: 20%;
  padding: 5px;
}
.phone:hover {
  color: green;
  transition: 0.3s;
}
.instagram {
  color: $hamta_white;
  font-size: xx-large;
  //background-color: $hamta_white;
  //border-radius: 20%;
  padding: 5px;
}
.instagram:hover {
  color: darkred;
  transition: 0.3s;
}
.news {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.newsTitle {
  margin: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  min-width: 100vw;
}
.newsCard {
  width: 20vw;
  height: 30vw;
  margin: 0.5rem;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.5rem 0 0 0;
  display: flexbox;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.newsCard p {
  text-align: justify;
  padding-inline: 1rem;
  //display: block;
  //width: 100px;
  overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
}
.newsCardW {
  background-color: $hamta_white;
}
.newsCardO {
  background-color: $hamta_lightorange;
}
.newsCardImage {
  width: 60%;
  //height: 40%;

  margin: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.aboutImage {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.aboutContainer {
  display: flex;
}
.aboutImageContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}
.aboutText {
  font-size: 1.3rem;
  text-align: justify;
  margin: 0 1rem;
}
.aboutText p {
  color: $hamta_blue;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: "WOFF IRANSansXFaNum-Black";
}
.navItem {
  color: $hamta_black;
  padding: 1rem 2.2vw;
  font-size: 0.9rem;
  font-weight: 800;
  //border-right: 1px solid $secondary;
  cursor: pointer;
  //margin-top: 0.3rem;

  //text-align: right;
  //border-radius: 1rem;
}

.navItem:hover {
  color: lighten($hamta_secondary, 50%);
  transition: 0.3s;
  //background-color: $hamta_orange;
  color: $hamta_primary;
}
.navbarToggler {
  //background-color: $hamta_secondary;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.navbarToggler:hover {
  color: lighten($hamta_secondary, 50%);
}
.map {
  width: 100%;
  height: 50vh;
  background-color: transparent;
  //border-radius: 2vw;
  //margin-bottom: 40px;
}

// @media screen and (max-width: 1200px) {
//   .footer {
//     font-size: larger;
//   }
// }
@media screen and (max-width: 991px) {
  .appContainer {
    //border: 1px solid lightgray;
    //background-color: white;
    //margin: 1rem;
    //border-radius: 1rem;
    overflow: hidden;
    height: 100%;
  }
  .btnContainer {
    position: relative;
  }
  .navItem {
    padding: 0.3rem 1rem;
    border-bottom: 1px solid $hamta_secondary;
    text-align: right;
  }
  .logo {
    width: 7.5rem;
  }
  .BlueBox {
    width: 90px !important;
    height: 90px !important;
  }
  .footer {
    font-size: 0.8rem;
  }
  .news {
    display: flexbox;
    margin: 1rem 0;
  }
  .newsCard {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: justify;
    font-size: 1.2rem;
    padding: 1rem;

    margin: 0.2rem 0;
  }
  .newsCardImage {
    width: 30%;
    height: initial;
  }
  .aboutText {
    font-size: medium;
  }
  .aboutText p {
    font-size: 1.2rem;
  }
  .aboutContainer {
    display: grid;
  }

  .map {
    width: 100%;
    height: 30vh;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    font-size: xx-small;
    height: 30vw;
  }
  .newsCard {
    font-size: medium;
  }
  .ad {
    display: none;
  }
}
