$hamta_font_title: "WOFF IRANSansXFaNum-Black";
$hamta_font_text: "WOFF IRANSansXFaNum-Regular";
$hamta_font_bold: "WOFF IRANSansXFaNum-Bold";
.nav {
  position: absolute;
  //background-color: $hamta_white;
  display: flex;
  margin: 3.5vw 0 0 0;
  //border-radius: 0.5rem;
  //border-bottom-right-radius: 2rem;
  //border-top-left-radius: 2rem;
  white-space: nowrap;
  height: 7vw;
  width: 100vw;
  z-index: 99999;
}
.nav1 {
  height: 7vw;
  background-color: $hamta_white;
  width: 47vw;
  padding-top: 1.2vw;
}
.navLogoContainer {
  height: 7vw;
  background-color: $hamta_white;
}
.navbar-nav {
  position: relative;
}
// .navbar-toggler > .close {
//   display: inline;
//   font-size: smaller;
// }
// .navbar-toggler.collapsed > .close,
// .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
//   display: none;
// }
.logo {
  width: 14vw;
  //height: 70%;
  //margin: 0.5rem;
  //position: absolute;
  // right: 0;
  margin: 0.5rem 2rem 0.5rem 4rem;

  background-color: $hamta_white;
}
// .mylogo {
//   //transition: 0.4s cubic-bezier(1, -1, 0, 2);
//   //clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
//   width: 50%;
//   height: inherit;
// }

.appContainer {
  //border: 1px solid lightgray;
  //background-color: white;
  //margin: 1rem;
  //border-radius: 1rem;
  overflow: hidden;
  min-height: 40vw;
  width: 100%;
}
.p1 {
  background-color: $hamta_white;
}
.p2 {
  background-color: $hamta_silver;
}
.btnContainer1 {
  display: flex;
}
.btnContainer2 {
  display: none;
}
.hbtn {
  font-family: $hamta_font_title;
  background-color: $hamta_orange;
  color: $hamta_white;
  height: 7vw;
  width: 7vw;
  white-space: initial;
  font-size: 1.4vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.hbtn:hover {
  //color: $hamta_dark;
  background-color: $hamta_blue;
  transition: 0.3s;
}
.hbtn1 {
  margin: 0rem 1vw 0 0;
  border-radius: 1rem;
}
.hbtn2 {
  margin: 0rem 1vw 0 0;
  border-radius: 1rem;
}
.hbtn3 {
  margin: 0rem 1vw 0 0vw;
  background-color: $hamta_white;
  width: 15vw;
}
.navbar-collapse {
  display: flex;
}
.BlueBoxContainer {
  //flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background-color: yellow;
}
.BlueBox {
  width: 9vw !important;
  height: 9vw !important;
  background-color: $hamta_blue;
  border-radius: 3.6vw;
  margin: 1rem 5vw;
  padding: 5%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: $hamta_font_title;
  cursor: pointer;
}
.BlueBox:hover {
  box-shadow: $hamta_silver 0px 1px 4px, $hamta_silver 0px 0px 0px 9px;
  transition: 0.3s;
}
.BlueBoxImg {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: $hamta_white;
  border-radius: 35%;
  //color: $hamta_white;
}
.BlueBoxItem {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: $hamta_font_title;
  color: $hamta_blue;
  font-size: 1.3vw;
}
.footer {
  //padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $hamta_darkblue;
  //border-radius: 2rem 2rem 0 0;
  //height: fit-content;
  //text-align: right;
  font-size: 0.8rem;
  height: 50vh;
}
.outLink {
  cursor: pointer;
  text-decoration: none;
}
.footerContent {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $hamta_white;
  text-align: right;
  font-size: larger;
}
.footerContainer2 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: space-around;
  color: $hamta_dark;
  height: 3rem;
  font-family: "Times New Roman", Times, serif;
}
.pAd {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $hamta_blue;
  color: $hamta_white;
  height: 17vw;
  text-align: right;
  font-size: 1.5rem;
  font-family: $hamta_font_text;
}
.pAd p {
  font-size: 4vw;
}
.imgContainer {
  //padding: 10px;
  justify-content: center;
  //flex: 1;
  //display: flex;
  //flex-direction: column;
  //height: 480px;
  //border-bottom: 1px solid gray;
  //border: 1px solid lightgray;
  //background-color: $hamta_orange;
  //margin-bottom: 0.5rem;
  //border-radius: 1rem;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
}

.facebook {
  color: #3b5998;
}
.twitter {
  color: #1da1f2;
}
.youtube {
  color: #ff0000;
}
.linkedin {
  color: #0077b5;
}
.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  //font-size: 200px; /* change this to change the size*/
}
.phone {
  color: $hamta_white;
  font-size: xx-large;
  //background-color: $hamta_white;
  //border-radius: 20%;
  padding: 5px;
}
.phone:hover {
  color: green;
  transition: 0.3s;
}

.news {
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 40vw;
  // grid-auto-rows: 40vw;
  // grid-gap: 15px;
}
.newsTitle {
  background-color: $hamta_blue;
  font-family: $hamta_font_bold;
  padding: 1rem 20vw;
  font-size: 1.2rem;
  display: block;
  flex-direction: row;
  justify-content: right;
  min-width: 100%;
  color: $hamta_white;
}
.newsCard {
  //align-self: right;
  justify-self: center;
  width: 27vw;
  height: 35vw;
  margin: 1rem;
  justify-content: center;
  text-align: center;
  font-size: 1.5vw;
  font-family: $hamta_font_bold;
  color: $hamta_blue;
  padding: 0.5rem 0 0 0;
  border: 2px solid $hamta_blue;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.newsCard:hover {
  background-color: $hamta_blue;
  color: $hamta_white;
  transition: 0.3s;
}
.newsCard:after {
  content: "d";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: transparent $hamta_blue transparent transparent;
  right: 0;
  bottom: 0;
  position: absolute;
}
.archiveBtn {
  color: $hamta_white;
  background-color: $hamta_blue;
  width: 10rem;
  margin: 2rem;
  padding: 0.7rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: $hamta_font_bold;
  cursor: pointer;
}
.archiveBtn:hover {
  box-shadow: $hamta_white 0px 1px 4px, $hamta_white 0px 0px 0px 9px;
  transition: 0.3s;
}
.newsCard p {
  text-align: justify;
  //padding-inline: 2rem;
  margin: 2rem;
  //display: block;
  //width: 100px;
  overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
}

.newsCardImage {
  width: 60%;
  //height: 40%;

  margin: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.aboutImage {
  width: 100%;
  // border-radius: 0.5rem;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  //   rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.activityImage {
  width: 80%;
}
.aboutContainer {
  display: flex;
}
.aboutImageContainer {
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  //padding: 1rem;
  width: 100%;
}
.aboutText {
  font-size: 1.1rem;
  text-align: justify;
  margin: 1vw 8vw 0 0;
  font-family: $hamta_font_bold;
}
.aboutText p {
  color: $hamta_blue;
  font-size: 1.5rem;
  margin: 1vw -2vw 3vw 0;
  font-family: $hamta_font_title;
}
.navItem {
  color: $hamta_black;
  //background-color: white;
  border: 0;
  padding: 1rem 1vw;
  font-size: 1.2vw;
  font-weight: 800;
  font-family: $hamta_font_bold;
  //border-right: 1px solid $secondary;
  cursor: pointer;
  //margin-top: 0.3rem;

  //text-align: right;
  //border-radius: 1rem;
}

.DropdownItem {
  background-color: white !important;
}
.DropdownItem > .active,
.DropdownItem .open,
.DropdownItem:default {
  background-color: white !important;
  border: 0 !important;
}
.DropdownItem:hover {
  background-color: white !important;
  color: $hamta_primary !important;
}

.navItem:hover {
  color: lighten($hamta_secondary, 50%);
  transition: 0.5s;
  background-color: $hamta_white !important;
  border: 0;
  color: $hamta_primary !important;
}
.navItem:focus,
.navItem:active {
  background-color: white !important;
  color: $hamta_primary !important;
  border: 0 !important;
}
.Link {
  text-decoration: none;
}
.Link:hover {
  text-decoration: none;
}
.navbarToggler {
  //background-color: $hamta_secondary;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-left: 8%;
}
.navbarToggler:hover {
  color: lighten($hamta_secondary, 50%);
}
.map {
  width: 100%;
  height: 50vh;
  background-color: transparent;
  //border-radius: 2vw;
  //margin-bottom: 40px;
}
.input {
  border: 1px solid $hamta_silver;
  border-radius: 5px;
  height: 2.5rem;
  //width: 100%;
  margin: 1rem;
  width: 100%;
}
.textarea {
  border: 1px solid $hamta_silver;
  border-radius: 5px;
  //height: 2.5rem;
  //width: 100%;
  margin: 1rem;
  width: 100%;
}
.tblRow {
  display: flex;
  //justify-content: space-evenly;
}
.tblCol {
  width: 100%;
  padding: 1rem;
}
.contactUsContent {
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
.contactUsTbl {
  width: 70%;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
.contactUsTitle {
  text-align: right;
  margin-right: 20%;
  margin-top: 2rem;
  font-size: 3vw;
  font-family: $hamta_font_bold;
}
.contactUsDetail {
  text-align: right;
  margin-right: 20%;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: $hamta_font_bold;
}
.contactUsImg {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .appContainer {
    //border: 1px solid lightgray;
    //background-color: white;
    //margin: 1rem;
    //border-radius: 1rem;
    overflow: hidden;
    height: 100%;
  }
  .btnContainer1 {
    //position: relative;
    display: none;
    //width: 100%;
    //padding: 0 2vw;
  }
  .btnContainer2 {
    position: relative;
    display: block;
    width: 100%;
    //padding: 0 2vw;
  }
  .hbtn {
    //display: block;
    //position: relative;
    width: 100%;
    height: 6vh;
    margin: 0;
    //margin-top: 2px;
    border: 1px solid $hamta_blue;
    border-radius: 0;
    //background-color: #04aa6d;
    //padding: 14px 28px;
    font-size: 2.5vw;
    //cursor: pointer;
    //text-align: center;
  }
  .logo {
    width: 20vw;
  }
  .nav {
    height: 9vh;
    margin: 0;
    position: sticky;
  }
  .nav1 {
    width: 100%;
    //padding-top: 1.2vw;
    //position: relative;
  }
  .navItem {
    padding: 0.5rem 2rem;
    border-top: 1px solid $hamta_secondary;
    //text-align: right;
    font-size: 1.1rem;
    position: relative;
    background-color: white;
  }
  .navItem:hover {
    background-color: $hamta_secondary !important;
  }
  // .logo {
  //   width: 7.5rem;
  // }
  .BlueBox {
    width: 90px !important;
    height: 90px !important;
    border-radius: 35px;
  }
  .BlueBoxImg {
    border-radius: 35%;
  }
  .BlueBoxItem {
    font-size: 2.2vw;
  }
  // .footer {
  //   font-size: 0.8rem;
  //   height: 80vh;
  // }

  .news {
    display: inline-block;
    //margin: 1rem 0;
    //grid-template-columns: repeat(2, 1fr);
  }
  .newsCard {
    width: 95vw;
    //display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: justify;
    font-size: 1.2rem;
    padding: 1rem;

    margin: 0.2rem 1rem;
  }
  .newsCardImage {
    width: 30%;
    height: initial;
  }
  .aboutText {
    font-size: medium;
  }
  .aboutText p {
    font-size: 1.2rem;
  }
  .aboutContainer {
    display: inline-block;
  }

  .map {
    width: 100%;
    height: 30vh;
  }
  .tblRow {
    display: block;
    //justify-content: space-evenly;
  }
  .tblCol {
    width: 100%;
    padding: 0;
  }
  .contactUsTbl {
    width: 100%;
  }
  .contactUsTitle {
    font-size: 5vw;
  }
  .newsCard {
    display: flex;
  }
  .newsCard p {
    margin: 0;
    font-size: 3vw;
  }
}
// @media screen and (orientation: landscape) and (max-width: 767px) {
//   .appContainer {
//     //border: 1px solid lightgray;
//     //background-color: white;
//     //margin: 1rem;
//     //border-radius: 1rem;
//     overflow: hidden;
//     height: 100%;
//   }
//   .btnContainer {
//     //position: relative;
//     display: block;
//     width: 100%;
//     //padding: 0 2vw;
//   }
//   .hbtn {
//     //display: block;
//     width: 100%;
//     height: 6vw;
//     margin: 0;
//     margin-top: 2px;
//     border: 1px solid $hamta_blue;
//     //border-radius: 5%;
//     //background-color: #04aa6d;
//     //padding: 14px 28px;
//     font-size: 2.5vw;
//     //cursor: pointer;
//     //text-align: center;
//   }
//   .nav {
//     height: 10vw;
//     background-color: $hamta_white;
//   }
//   .aboutContainer {
//     display: inline-block;
//   }
// }
// @media screen and (max-width: 575px) {
//   .footer {
//     font-size: xx-small;
//     height: 30vw;
//   }
//   .newsCard {
//     font-size: medium;
//   }
//   .ad {
//     display: none;
//   }
// }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  //background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  height: 100%;
  //min-height: 70vh;
  background-color: $hamta_silver;
}
